@charset "utf-8";
.inline-video {
  display: block;
  width: 100%;
  min-height: 300px;
  object-fit: cover;
  object-position: center;
}
.banner {
  padding-top: 0;
  position: relative;
  padding-bottom: 0;
  overflow: hidden;
  line-height: 0;
}
.banner:before {
  position: absolute;
  content: '';
  display: block;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.banner .text {
  position: absolute;
  width: 100%;
  bottom: 74px;
  left: 0;
  right: 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.banner .youtubecontent {
  margin: -8% 0;
}
.youtubecontent iframe,
.youtubecontent object,
.youtubecontent embed {
  top: 50%;
  transform: translateY(-50%);
}
.btn-play {
  width: 167px;
  line-height: 47px;
  background: #ffffff;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  border-radius: 80px;
}
.btn-play:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: -4px;
  background: url(../images/video/ic.png);
  width: 23px;
  height: 23px;
}

.video-box {
  margin-top: 35px;
}
.video-box .item {
  padding: 0 9px;
}
.video-box .item .box {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.video-box .item img {
  width: 100%;
}
.video-box .item .cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

body .fancybox-overlay {
  background: #fff;
  overflow: hidden !important;
}
body .fancybox-close {
  position: fixed;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
  top: 16px;
  right: 16px;
  background: rgb(232, 232, 237);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .fancybox-close svg {
  width: 20px;
  height: 20px;
  fill: rgb(102 102 104);
}

body .fancybox-opened .fancybox-title {
  position: static;
  height: 0;
}
body .fancybox-title-float-wrap .child {
  box-shadow: 0 0 0;
  background: none;
}

@media screen and (max-width: 1024px) {
  .banner-title {
    font-size: 42px;
    margin-bottom: 10px;
  }
  .banner .text_box {
    margin-bottom: 5px;
  }
  .banner .text {
    bottom: 20px;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}
